*{
    margin: 0;
    padding: 0;
}

/* nav style start */
.navbar{
    background: linear-gradient(to right, rgb(54, 51, 48), rgb(100, 124, 139));
    color: white;
}
/* nav style end */

/* home style start */
.home, .details{
    padding: 0 60px;
    background-color: gray;
}
.card{
    background-color: white;
}
.border-left{
    border-left: 12px solid rgb(100, 124, 139);
    padding-left: 10px;
}
/* home style end */

/* button style start */
.btn{
  text-transform: uppercase;
  padding: 3px 20px;
  display: inline-block;
  border-radius: 100px; 
  background: rgb(100, 124, 139);
  color: #fff;
}

.btn:hover {
  transform: translateY(-7px);
  box-shadow: 0 10px 20px rgba(100, 124, 139, 0.3); 
}

.btn:active {
  transform: translateY(-3px);
}
/* button style end */
